@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #D8C4B6;
    --foreground: #F5EFE7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
